<section class="about-us">
    <div class="banner">
        <h1>ABOUT US</h1>
    </div>
    <div class="red-pannel">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="vission">
                        <img src="img/quote.png" class="img-responsive" alt="">
                        <h1>Vision</h1>
                        <p>Our vision is produce sporting Champions who will represent our Country at Olympics and other global sporting events.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mission">
                        <img src="img/quote.png" class="img-responsive" alt="">
                        <h1>Mission</h1>
                        <p>To popularize the sport of Table Tennis across all segments of society – from Schools to Corporates, Amateurs to Professionals, Rural to Urban.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team">
        <h1>Team</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="team-card">
                                <div class="img-holder">
                                    <img src="img/about-us/vita.png" class="img-responsive" alt="">
                                </div>
                                <div class="changing-item">
                                    <div class="img-title">
                                        <h4>Vita Dani</h4>
                                        <p>(Chair Person)</p>
                                        <hr>
                                    </div>
                                    <div class="title-plus-detail">
                                        <h4>Vita Dani</h4>
                                        <p>(Chair Person)</p>
                                        <hr>
                                        <p class="description">
                                            Arjuna Awardee, Record Eight times National Champion, National Coach & Selector. Actively involved in organising and promoting the game of Table Tennis.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="team-card">
                                <div class="img-holder">
                                    <img src="img/about-us/kamlesh.png" class="img-responsive" alt="">
                                </div>
                                <div class="changing-item">
                                    <div class="img-title">
                                        <h4>Kamlesh Mehta</h4>
                                        <p>(Director)</p>
                                        <hr>
                                    </div>
                                    <div class="title-plus-detail">
                                        <h4>Kamlesh Mehta</h4>
                                        <p>(Director)</p>
                                        <hr>
                                        <p class="description">
                                            Arjuna Awardee, Record Eight times National Champion, National Coach & Selector. Actively involved in organising and promoting the game of Table Tennis.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>