<section class="contact-us">
    <div class="banner">
        <h1>CONTACT US</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 remove-pad">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d943.5470892247556!2d72.82281788578193!3d18.92305513134832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1eb93a6691b%3A0x45a5b14f69a60638!2sFree+Press+Journal+House%2C+Free+Press+Journal+Marg%2C+Nariman+Point%2C+Mumbai%2C+Maharashtra+400021!5e0!3m2!1sen!2sin!4v1475488317275"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 remove-pad">
                <div class="addr">
                    <div class="address">
                        <h3>11EVEN SPORTS PVT. LTD. </h3>
                        <p>
                            Room No. 64, 6th Floor, Free Press House, <br> Free Press Road, <br> Nariman Point, Mumbai 400021. <br> Office Phones: +91 22 22047421/22 <br>
                        </p>
                    </div>
                    <div class="enquiry-form">
                        <h1>Enquire Now</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="First Name" id="usr">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Last Name" id="usr">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Email Id" id="usr">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Mobile No." id="usr">
                            </div>
                        </div>
                        <div class="queries">
                            <textarea class="form-control" rows="5" placeholder="Queries" id="comment"></textarea>
                        </div>
                        <div class="enquiry-btn">
                            <button type="button" class="btn btn-default">Send</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>