<section class="corporate-tournament">
    <div class="banner">
        <h1>CORPORATE</h1>
        <h1>TOURNAMENT</h1>
    </div>
    <div class="red-panel">
        <div class="tab">
            <div class="tab-content">
                <h3>EDITION-1</h3>
                <p>(2015,MUMBAI)</p>
            </div>
            <hr class="tab-line">
        </div>
        <div class="tab">
            <div class="tab-content mid-tab">
                <h3>EDITION-2</h3>
                <p>(2016,MUMBAI)</p>
            </div>
            <hr class="tab-line">
        </div>
        <div class="tab">
            <div class="tab-content">
                <h3>EDITION-3</h3>
                <p>(2015,DELHI)</p>
            </div>
            <hr class="tab-line">
        </div>
    </div>
    <div class="showcase">
        <div class="container">
            <div class="tab-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui necessitatibus, voluptate earum! Reiciendis, rerum adipisci enim quidem ad eos veniam, dolor sed, assumenda ut recusandae eligendi soluta unde quasi pariatur! Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Qui necessitatibus, voluptate earum! Reiciendis, rerum adipisci enim quidem ad eos veniam, dolor sed, assumenda ut recusandae eligendi soluta unde quasi pariatur!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui necessitatibus, voluptate earum! Reiciendis, rerum adipisci enim quidem ad eos veniam, dolor sed, assumenda ut recusandae eligendi soluta unde quasi pariatur! Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Qui necessitatibus, voluptate earum! Reiciendis, rerum adipisci enim quidem ad eos veniam, dolor sed, assumenda ut recusandae eligendi soluta unde quasi pariatur!
                </p>
            </div>
            <div class="awards">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>EVENT</th>
                            <th>WINNER</th>
                            <th>RUNNER UP</th>
                            <th>Semi Finalist 1</th>
                            <th>Semi Finalist 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Veteran Singles</td>
                            <td>Satish Patel <br> Reliance Industries</td>
                            <td>Nitish Kumar <br> Promo Bags</td>
                            <td>Debjeet Mukherjee <br> Agarwal Packers</td>
                            <td>Vishal Yadav <br> TCS </td>
                        </tr>
                        <tr>
                            <td>Ladies Singles</td>
                            <td>Swagata Dey <br> Reliance Industries</td>
                            <td>Jaya Sikka <br> ICICI Securities</td>
                            <td>Nidhi Sodani <br> Reliance Industries</td>
                            <td>Apeksha Bhagwat <br> TCS
                            </td>
                        </tr>
                        <tr>
                            <td>Mixed Doubles</td>
                            <td>Rachel Mathias & <br> Manish Deodhar <br> Bank of America</td>
                            <td>Jaya Sikka & <br> Sajan Varghese <br> ICICI Securities</td>
                            <td>Swagata Dey & <br> Amit Dhasmana <br> Reliance Industries</td>
                            <td>Vishal Yadav & <br> Apeksha Bhagwat <br> TCS
                            </td>
                        </tr>
                        <tr>
                            <td>Mens Doubles</td>
                            <td>Suraj Chandrashekhar & <br> Yash Doshi <br> HDFC Life</td>
                            <td>Hormuz Pithawala & <br> Amish Chandrana <br> Tata Capital</td>
                            <td> Saurabh Paliwal & <br> Gaurav Jethwani <br> Directi
                            </td>
                            <td>Samir Deo & <br> Deep Amberkar <br> Capgemini
                            </td>
                        </tr>
                        <tr>
                            <td>Mens Singles</td>
                            <td>Mayuresh Kelkar <br> Express Group</td>
                            <td>Aakash Damle <br> TCS
                            </td>
                            <td>Viral Patel <br> Reliance Industries</td>
                            <td>Aditya Tawade <br> HDFC Bank</td>
                        </tr>
                        <tr>
                            <td>Mens Team Event</td>
                            <td>HDFC Life</td>
                            <td>Reliance Industries</td>
                            <td>Credit Suisse</td>
                            <td>Deloitte</td>
                        </tr>
                        <tr>
                            <td>Mixed Team Event</td>
                            <td>Reliance Industries</td>
                            <td>TCS</td>
                            <td>TCS</td>
                            <td>ICICI Bank A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="small-cards">

            </div>
        </div>
    </div>

</section>