<section class="home">
    <div class="banner">
        <h1 class="title-1">CORPORATE TABLE TENNIS</h1>
        <h1 class="title-2">TOURNAMENT 2015</h1>
        <div class="knw-more">
            <button type="button" class="btn btn-default">Know More</button>
        </div>
        <div class="black-bad">
            <img src="img/black-badminton.png" class="img-responsive" alt="">
        </div>
        <div class="upto-date">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p class="text-margin">Stay Up To Date</p>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="usr" placeholder="Email">
                                            <p class="pull-right text-margin">
                                                <i class="ln-arrow-right5" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tournament">
        <div class="big-cards">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="big-card-img">
                            <img src="img/orange-ball.png" class="img-responsive" alt="">
                            <div class="img-title">
                                <p>Mumbai</p>
                                <p>Super League</p>
                            </div>
                            <div class="plus">
                                <img src="img/add.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="big-card-img">
                            <img src="img/uncle.png" class="img-responsive" alt="">
                            <div class="img-title">
                                <p>Corporate </p>
                                <p>Tournament</p>
                            </div>
                            <div class="plus">
                                <img src="img/add.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="big-card-img">
                            <img src="img/card-2.png" class="img-responsive" alt="">
                            <div class="img-title">
                                <p>School </p>
                                <p>Tournament</p>
                            </div>
                            <div class="plus">
                                <img src="img/add.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="big-card-img">
                            <img src="img/badmint.png" class="img-responsive" alt="">
                            <div class="img-title">
                                <p>ITTF World Tour–</p>
                                <p>India Open</p>
                            </div>
                            <div class="plus">
                                <img src="img/add.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quotes">
            <div class="quote-img">
                <img src="img/quote.png" alt="">
            </div>

            <h3>Our aim is to take the love for Table Tennis beyond courts,</h3>
            <h3>make it mainstream and</h3>
            <h3 class="font-red">redefine the standards of the game.</h3>
        </div>
        <div class="small-cards">
            <div class="container">
                <div class="row-flex">
                    <div class="col-flex">
                        <img src="img/c1.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c2.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c2.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c4.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c5.png" class="img-responsive" alt="">
                    </div>


                </div>
                <div class="row-flex">
                    <div class="col-flex">
                        <img src="img/c6.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c7.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c8.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c9.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-flex">
                        <img src="img/c10.png" class="img-responsive" alt="">
                    </div>


                </div>
            </div>
        </div>
        <div class="view-all">
            <button type="button" class="btn btn-default">View All</button>
        </div>
        <div class="about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>About Us</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is
                            simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-media">

        <div class="container">
            <h1>Social Media</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="social-icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                    <div class="social-card">
                        <div class="feed-social mt30">
                            <div class="fb-page" data-href="https://www.facebook.com/11even-Sports-1824804727753891/?hc_ref=PAGES_TIMELINE&fref=nf" data-tabs="timeline" data-width="360" data-height="480" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                                data-show-facepile="true">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://www.facebook.com/11even-Sports-1824804727753891/?hc_ref=PAGES_TIMELINE&fref=nf">
                                        <a href="https://www.facebook.com/11even-Sports-1824804727753891/?hc_ref=PAGES_TIMELINE&fref=nf">11even-sports</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social-icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                    <div class="social-card">
                        <a href="https://twitter.com/11Evensports" class="twitter-follow-button" data-show-count="false">Follow @11Evensports</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

                        <!--<a class="twitter-timeline" href="https://twitter.com/ChennaiyinFC" data-widget-id="716880459599228928">Tweets by @ChennaiyinFC</a>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social-icon">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>
                    <div class="social-card">
                        <!--<iframe src="//lightwidget.com/widgets/2965b7333833557283d4029e025bd4e8.html" id="lightwidget_2965b73338" name="lightwidget_2965b73338" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden; height:480px;"></iframe>-->
                        <iframe src="//widgets-code.websta.me/w/51e589f755e0?ck=MjAxNi0xMC0wM1QwNjo0ODozOS4wMDBa" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:auto;height:485px;width:350px;"></iframe>
                        <!-- WEBSTA WIDGETS - widgets.websta.me -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>