<section class="media">
    <div class="banner">
        <h1>MEDIA</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-6">
                <div class="filter">
                    <h3>Filter By</h3>
                    <div class="filter-box ">
                        <select>
                            <option selected value="corporate">Corporate</option>
                            <option value="school">School</option>
                           
                       </select>
                        <img src="/img/media/play-button.png" class="img-responsive" alt="">
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="article">
                    <div class="article-img">
                        <img src="/img/media/a1.jpg" class="img-responsive" alt="">
                    </div>
                    <h3>Times Of India</h3>
                    <p>January 5, 2016 in Interviews</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="article">
                    <div class="article-img">
                        <img src="/img/media/a2.png" class="img-responsive" alt="">
                    </div>
                    <h3>Indian Express</h3>
                    <p>January 5, 2016 in Interviews</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="article">
                    <div class="article-img">
                        <img src="/img/media/a3.png" class="img-responsive" alt="">
                    </div>
                    <h3>Mid-Day</h3>
                    <p>January 5, 2016 in Interviews</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="article">
                    <div class="article-img">
                        <img src="/img/media/a4.png" class="img-responsive" alt="">
                    </div>
                    <h3>Times Of India</h3>
                    <p>January 5, 2016 in Interviews</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="article">
                    <div class="article-img">
                        <img src="/img/media/a5.png" class="img-responsive" alt="">
                    </div>
                    <h3>The Hindu</h3>
                    <p>January 5, 2016 in Interviews</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="article">
                    <div class="article-img">
                        <img src="/img/media/a6.png" class="img-responsive" alt="">
                    </div>
                    <h3>The Economic Times</h3>
                    <p>January 5, 2016 in Interviews</p>
                </div>
            </div>

        </div>
    </div>
</section>