<section class="school-tournament">
    <div class="banner">
        <h1>SCHOOL</h1>
        <h1>TOURNMANT</h1>
    </div>
    <div class="red-panel">
        <h3 class="tab-1">STATE</h3>
        <h3 class="tab-2">NATIONAL</h3>
    </div>
    <div class="season-panel">
        <div class="season">
            <h3>SEASON-1</h3>
            <P>(2015)</P>
        </div>
        <div class="season mid-season">
            <h3>SEASON-2</h3>
            <P>(2015)</P>
        </div>
        <div class="season">
            <h3>SEASON-3</h3>
            <P>(2015)</P>
        </div>
    </div>
    <div class="state-flex">
        <div class="container">
            <div class="text-slider">
                <flex-slider flex-slide="s in stateSlides track by $index" animation="slide" item-margin="10" item-width="120" control-nav="false" animationloop="true">
                    <li class="state-list">
                        <button type="button" class="btn btn-default state-btn">{{s}}</button>
                    </li>
                </flex-slider>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui necessitatibus, voluptate earum! Reiciendis, rerum adipisci enim quidem ad eos veniam, dolor sed, assumenda ut recusandae eligendi soluta unde quasi pariatur!
            </p>
        </div>
    </div>
    <div class="awards">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row-head">EVENT</div>
                    <div class="table-col">
                        <div class="col-head">Senior Girls</div>
                        <div class="col-head">Senior Boys</div>
                        <div class="col-head">Junior Girls</div>
                        <div class="col-head">Junior Boys</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row-head">GOLD</div>
                    <div class="column-1">
                        <div class="col-one">Nistha Kumar <br> Hansraj Model School</div>
                        <div class="col-one">Jay Sikka <br> IHansraj Model School</div>
                        <div class="col-one">Jaya Sikka <br> Hansraj Model School</div>
                        <div class="col-one">Hormuz Pithawalal <br> Hansraj Model School</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row-head">SILVER</div>
                    <div class="column-2">
                        <div class="col-two">Vishakha Yadav <br> Manav Sthali school</div>
                        <div class="col-two">Arpit Bhagwat <br> Manav Sthali school</div>
                        <div class="col-two">Vishu Yadav <br> Manav Sthali school</div>
                        <div class="col-two">Samir Deo <br> Manav Sthali school</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row-head">BRONZE</div>
                    <div class="column-3">
                        <div class="col-three">Nidhi Mukherjee <br> Carmel Convent</div>
                        <div class="col-three">Niraj Sodani <br> Carmel Convent</div>
                        <div class="col-three">Niraj Sodani <br> Carmel Convent</div>
                        <div class="col-three">Saurabh Paliwal <br> Carmel Convent</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="small-cards">
        <div class="gallery-heading">
            <h1>GALLERY</h1>
        </div>
        <div class="container">
            <div class="row-flex">
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g1.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g2.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g3.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g4.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g5.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row-flex">
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g6.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g7.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g8.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g9.jpg" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-flex">
                    <div class="img-holder">
                        <img src="img/school/g10.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
</section>