<!--<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="links">
                            <ul>
                                <li>
                                    <a ui-sref="">
                                        <h5>ABOUT US</h5>
                                    </a>
                                </li>
                                <li><a ui-sref="">Overview </a></li>
                                <li><a ui-sref="">Vision and Mission </a></li>
                                <li><a ui-sref="">Team </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="links">
                            <ul>
                                <li>
                                    <a ui-sref="">
                                        <h5>PROGRAMS</h5>
                                    </a>
                                </li>
                                <li><a ui-sref="">ITTL </a></li>
                                <li><a ui-sref="">Corporate </a></li>
                                <li><a ui-sref="">School </a></li>
                                <li><a ui-sref="">Grassroots </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="links">
                            <ul>
                                <li>
                                    <a ui-sref="">
                                        <h5>GALLERY</h5>
                                    </a>
                                </li>
                                <li> <a ui-sref="">Photos</a></li>
                                <li> <a ui-sref="">Videos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="links">
                            <ul>
                                <li>
                                    <a ui-sref="">
                                        <h5>MERCHANDISE</h5>
                                    </a>

                                </li>
                                <li>
                                    <a ui-sref="">
                                        <h5>NEWS</h5>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="">
                                        <h5>CONTACT US</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="col-md-offset-6 col-md-6">
                    <div class="sign-up">
                        <h5>NEWSLETTER SIGNUP</h5>
                        <div class="email-feed ">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">GO</span>
                            </div>
                        </div>

                        <div class="social-icons">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        <p class="copy-right">COPYRIGHT ELEVENSPORTS 2015 <br> DESIGNED BY TING</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>