<!--<header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="20"> </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</nav>
</header>-->

<header>
    <div class="main-head">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div ui-sref="#" class="logo-img">
                        <img src="img/11even_logo.png" alt="" class="img-responsive">
                    </div>
                    <div class="right-head">
                        <div class="logo-title">
                            <h1 class="head-1">LOREM ISPUM IS A </h1>
                            <h1 class="head-2">DUMY TEXT LOREM</h1>
                        </div>

                        <div class="navigation">
                            <ul>
                                <li><a ui-sref="">ABOUT US</a></li>
                                <li><a ui-sref="">EVENTS</a></li>
                                <li><a ui-sref="">ITTL</a></li>
                                <li><a ui-sref="">GALLERY</a></li>
                                <li><a ui-sref="">MEDIA</a></li>
                                <li><a ui-sref="">CONTACT US</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="right-logo">
                            <img src="img/badminton-logo.png" alt="">
                        </div>-->

                </div>
            </div>
        </div>
    </div>
</header>