<!--<header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="20"> </a>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</nav>
</header>-->

<header>
    <div class="main-head">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="logo-img">
                        <img src="img/11even_logo.png" alt="" class="img-responsive">
                    </div>
                    <div class="right-head">
                        <div class="logo-title">
                            <h1 class="head-1">LOREM ISPUM IS A <br><span class="head-red">DUMY TEXT LOREM</span></h1>
                        </div>
                        <!--<div class="right-logo">
                            <img src="img/badminton-logo.png" alt="">
                        </div>-->
                        <div class="navigation">
                            <ul>
                                <li>ABOUT US</li>
                                <li>EVENTS</li>
                                <li>ITTL</li>
                                <li>GALLERY</li>
                                <li>MEDIA</li>
                                <li>CONTACT US</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>